RewriteEngine on

DirectoryIndex index.html

RewriteBase /

RewriteRule index index.html [NC]
RewriteRule giggls2022 giggls2022.html [NC]

ErrorDocument 401 http://kvalia.band/error.html
ErrorDocument 403 http://kvalia.band/error.html
ErrorDocument 404 http://kvalia.band/error.html
ErrorDocument 500 http://kvalia.band/error.html

Options -Indexes

<FilesMatch ".(svg)$">
  Header set Cache-Control "max-age=2592000"
</FilesMatch>
